# Large data files
*.npz
*.csv

# Dataset
RAVDESS/

# All model files (store on Cloud Storage for GCP deployment)
models/

# Histories and predictions
histories/
predictions/
preprocessed/

# Python cache
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Environments
.env
venv/ 
